:root {
  --header-height: 2.5em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: right;
  /* font-family: ; */
  /* font-weight: bold; */
  direction: rtl;
}

body {
  /* height: 100vh; */
  /* width: 100vw; */
  padding-top: 4em;
  padding-bottom: 4em;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(23, 63, 76);
  /* height: var(--header-height); */
  /* text-align: center; */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  color: aliceblue;
}

/* footer  ************************************************************************ */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* background-color: lightcoral; */
  background-color: rgb(23, 63, 76);
  
}

footer form     {
  display: flex;
  justify-content: space-evenly;
  padding: 0.8em 2.4em;
  padding-bottom: 1em;
  align-items: center;
  column-gap: 1em;
  width: 100%;
}

footer input {
  padding: 0.4em 1em;
  flex: 1;
}

footer #notes {
  /* flex: 2; */
  
}

/* ************************************************************************** footer*/

main {
  /* background-color: lightcyan; */
  /* overflow-y: scroll; */
}

.show {
  padding: 2em
}

.actions {
  margin: 1em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.options {
  display: flex;
  gap: 2em;
}

.search-div {
  direction: rtl;
}

button, input {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

input {
  padding: 0.2em 0.4em;
}

#search-pattern {
  border: 1px solid rgba(0, 0, 0, 0.4);
  height: 2em;
  margin-left: 0.5em;
  width: 24em;
}

button {
  height: 2em;
  padding: 0.2em 2em;
}


/* ***************** table ***************** */
table {
  width: 100%;
  border-collapse: collapse;
}

table td,
th {
  border: 1px solid rgba(84, 82, 82, 0.704);
  padding: 0.4em;
}

table td {
  padding-right: 1em;
}

table th {
  text-align: center;
}

thead {
  background-color: #2a9c5d80;
}

tbody tr td:first-child {
  padding: 0;
  text-align: center;
  font-weight: bold;
}
.action {
  text-align: center;
}

.action:hover {
  scale: 1.1;
}

.remove {
  color: rgb(186, 45, 45);
  cursor: pointer;
}

.edit {
  color: rgb(31, 47, 142);
  cursor: pointer;
}

tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.04);
}